{% extends "main.html" %}
{% include "header.html" %}
{% block content %}
<br>
<br>

<form method='POST' action='{{url_for('updateItems',category_id = category_id,item_id = i.id)}}'>

<p>Name: {{i.name}}</p>
<input type = 'text' size='30' name = 'name' placeholder = '{{i.name}}' value='{{i.name}}'><br><br><br>
<textarea rows = '10' cols='50'  name = 'description' placeholder = '{{i.description}}' value ="{{i.description}}"></textarea> <br><br><br><br>
<input type ='text' size ='30' name ='price' placeholder = '{{i.price}}' value = "{{i.price}}"><br><br><br>

<button>Save</button>

<br><br><br>

<a href='{{url_for('showItems',category_id = category_id)}}'>Cancel</a>
</form>
{% endblock %}